{% extends 'layout/base.html' %}
{% load static %}


{% block styles %}


{% endblock styles%}


{% block heading %}Subnets{% endblock heading %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Add Subnet
                </div>
                <div class="card-body">
                    <form method="POST">
                        <fieldset>
                            <legend>Form</legend>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    Subnet List
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <th scope="col">Name</th>
                        <th scope="col">Ip</th>
                        <th scope="col">Description</th>
                        <th scope="col">Actions</th>
                        </thead>
                        <tbody>
                        {% for item in query_results %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td>{{ item.subnet }}</td>
                            <td>{{ item.description }}</td>
                            <td>
                                <a style="color:white"
                                   onclick="location.href='{% url 'actionUrl' subnetname=item.name %}'"
                                   class="btn btn-primary btn-circle"><i class="fas fa-pen"></i></a>
                                <a style="color:white" onclick="location.href='{% url 'deleteSubnet' id=item.id %}'"
                                   class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></a>
                                <a style="color:white"
                                   onclick="location.href='{% url 'addSubnetIp' subnetname=item.name %}'"
                                   class="btn btn-success btn-circle"><i class="fas fa-plus"></i></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}

