<ul class="navbar-nav nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">


    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Welcome</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <li class="nav-item ">
        <a class="nav-link" href="https://myipam.azurewebsites.net/subnet">
            <i class="fas fa-fw fa-paste"></i>
            <span>Subnet</span></a>
    </li>

    <li class="nav-item ">
        <a class="nav-link" href="https://myipam.azurewebsites.net/viewSubnetIps">
          <i class="fas fa-network-wired"></i>
            <span>Assigned Ips</span></a>
    </li>

    <li class="nav-item ">
        <a class="nav-link" href="https://myipam.azurewebsites.net/subnetcalculator">
            <i class="fas fa-calculator"></i>
            <span>Subnet Calculator</span></a>
    </li>

     <li class="nav-item ">
        <a class="nav-link" href="https://myipam.azurewebsites.net/uploadcsv">
            <i class="fas fa-file-excel"></i>
            <span>Import</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>